apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: oauth2-server

bases:
  - ../../base

commonLabels:
  environment: production

images:
  - name: gabby.azurecr.io/oauth2-server
    newTag: v1.0.0
